table, th, tr, td {
    border-collapse: collapse;
    border: .5px solid black;
    text-align: center;
}
body{
    background: #FEF9EF;
}

table{
    width: 90%;
    margin: 0 auto;
}
th{
    background-color: #56C8BE;
    width: 20px;
    height: 40px;
    color: #fff;
}
.table-div{
    display: flex;
    justify-content: center;
  }
