body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}
.fb-h1{
  font-size: 20px;
  padding-bottom: 15px
}
.fb-div{
  display: flex;
  justify-content: center;
}
.fb-input-wrapper{
  width: 69%;
  padding-top: 80px;
  padding-bottom:95px;
  margin-top:50px;
}

